.cards {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  justify-content: center;
  width: 100%;
}
.cards__list {
  padding: 0;
  margin: 0;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 40px 20px;
  list-style: none;
  overflow: hidden;
  margin-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    justify-content: center;
    align-items: center;
  }

}
