.cards {
  display: flex;
  flex-direction: column;
}
.cards__items {
  padding: 0px;
  margin: 0;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 40px;
  list-style: none;
  overflow: hidden;
}

.card__item {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.card__image {
  object-fit: cover;
  width: 100%;
  height: 418px;
}

@media screen and (max-width: 627px) {
  .cards__items {
    grid-template-columns: repeat(auto-fit, 288px);
    justify-content: center;
    align-items: center;
  }

  .card__image {
    height: 288px;
    width: 100%;
  }
}
