.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 6px;
  background-color: rgba(255, 255, 255, 0.8);
}

.header__image {
  max-width: 16px;
}

.header__text {
  margin: 0;
  padding: 0;
  font-family: DM Mono;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
