.modal {
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal_is-opened {
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  position: relative;
  padding: 32px 50px;
  width: 57.3vw;
  max-width: 730px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 32px;
}

.modal__container {
  transform: translateY(-20px);
  transition: transform 0.3s ease;
  object-fit: cover;
}

/* when modal opens */
.modal_is-opened .modal__container {
  transform: translateY(0);
}

.modal__title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__close-btn:hover {
  background-image: url("../images/close-icon-dark.svg");
  cursor: pointer;
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
}

.modal__label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  width: 100%;
}

.modal__input {
  padding: 16px 12px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid black;
}

.modal__submit-btn {
  padding: 18px 32px;
  color: rgba(252, 245, 229, 1);
  background-color: black;
  width: 156px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__submit-btn::placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__image-container {
  position: relative;
}

.modal__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.modal__close-btn_preview {
  top: 0;
  right: -52px;
  background-image: url("../images/close-icon-darkbackground.svg");
}

.modal__title_preview {
  color: white;
}

@media screen and (max-width: 426px) {
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__submit-btn::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    box-sizing: border-box;
  }

  .modal__preview-image {
    max-width: unset;
    max-height: unset;
  }
}
/* Placed bellow media query 426px to avoid being overwritten when below 426px size */
@media screen and (max-width: 627px) {
  .modal__close-btn_preview {
    top: -48px;
    right: 0;
  }
}
