.profile {
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  max-width: 190px;
  max-height: 190px;
  margin-right: 20px;
}

.profile__column {
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  line-height: normal;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}

.profile__edit-btn {
  display: flex;
  min-width: 115px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  margin: auto 0 0;
  opacity: 0.4;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__pen-icon {
  width: 18px;
  margin-right: 8px;
}

.profile__post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 18px 32px;
  margin-left: auto;
  align-self: last baseline;
  font-weight: 500;
  background-color: black;
  border-radius: 8px;
  border: none;
  color: rgba(252, 245, 229, 1);
  white-space: nowrap;
  cursor: pointer;
}

.profile__post-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__add-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 288px;
  }
  .profile__content {
    justify-content: center;
    align-items: center;
  }

  .profile__avatar {
    margin: 0 0 12px;
    max-width: 80px;
    max-height: 80px;
  }

  .profile__title {
    margin: 12px 0 0;
    font-size: 20px;
  }

  .profile__description {
    margin: 6px 0 32px;
  }

  .profile__edit-btn {
    margin-bottom: 20px;
  }

  .profile__post-btn {
    width: 100%;
    margin: 0 auto;
  }
}
